<div xmlns="http://www.w3.org/1999/xhtml" lang="de">
    <f:layout name="Backend/Default" />



    <f:section name="content">

        <f:flashMessages renderMode="div" />

        <br>

            <h1>Information</h1>

            <p>

                <h2>How it works</h2>


                <f:image src="EXT:hostedsolr/Resources/Public/Images/how-it-works.png" alt="how-it-works" width="800c"/>



                <h3>Do you have a Hosted-Solr Account?</h3>

                <strong>Step 1: API credentials</strong>
                </br>
                The authentication requires two parameters: api_token and secret_token. You can access these on the
                <a target="_blank" href="https://www.hosted-solr.com/account/api_credentials?locale=en">page API.</a>
                </br>
                <strong>Step 2: Extension Configuration</strong>
                </br>
                You have to set those two parameters in the Configuration-Area of the Hostedsolr-Extension.
                <br/>
                <f:image src="EXT:hostedsolr/Resources/Public/Images/config.png" alt="config" width="800c"/>




        <h3>You don't have a Hosted-Solr Account yet?</h3>

                <strong>Step 1: Get a Hosted-Solr Account</strong>
                </br>
                Visit <a href="https://www.hosted-solr.com">www.hosted-solr.com</a> and apply for a plan.
                 </br>

                <strong>Step 2: API credentials</strong>
                 </br>
                The authentication requires two parameters: api_token and secret_token. You can access these on the
                <a target="_blank" href="https://www.hosted-solr.com/account/api_credentials?locale=en">page API.</a>
                </br>

                <strong>Step 3: Extension Configuration</strong>
                </br>
                You have to set those two parameters in the Configuration-Area of Hostedsolr-Extension.

            </p>



        </div>

    </f:section>
</div>