<div xmlns="http://www.w3.org/1999/xhtml" lang="de">
    <f:layout name="Backend/Default" />


    <f:section name="docheader-buttons">


        <div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons" style="height: auto;">
            <div class="module-docheader-bar-column-left">
                <div class="btn-toolbar" role="toolbar" aria-label="">
                    <f:be.buttons.icon uri="{f:uri.action(action:'index')}" icon="actions-close" additionalAttributes="{class: 'btn btn-default btn-sm'}" title="{f:translate(key: 'btn_close')}" />
                </div>
            </div>
        </div>

    </f:section>

    <f:section name="content">

        <script type="text/javascript">
            require([
                'TYPO3/CMS/Hostedsolr/Clipboard',
            ], function(
                    Clipboard
            ){
                console.log(Clipboard)
                new Clipboard('.copy-btn');
            });
        </script>

        <f:flashMessages renderMode="div" />

        <div>

            <h1>Hints for using the index  {coreName}</h1>

            <p>
                The following sections provide information for a first-time use of your Solr index.
            </p>

            <h2>
                Using it with TYPO3
            </h2>
            <p>
                To use the created Solr index in your TYPO3 installation, you can use the following TypoScript configuration:
            </p>


            <div class="nowrap">
                 <f:format.raw>
                    {typoScript}
                </f:format.raw>
            </div>


        </div>

    </f:section>
</div>
